header {
  height:  85px;;
  color: #fff;
  background-color: #4a4a4a;

  .grid {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .menu {
    display: flex;

    li {
      margin: 0 12px
    }
  }

  .menu a {
    color: #fff;
    text-decoration: none;
    border: none;
    cursor: pointer;

    &:hover {
      background-color: transparent;
      opacity: 0.8;
    }
  }

  .menu a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #fff;
    pointer-events: none;
  }

  .menu a.active {
    font-weight: 500;
  }

  .menu a.active::after {
    width: 100%;
  }

  .menu {
    list-style: none;
  }
}

@media all and (max-width: 480px) {
  header .menu {
    margin: 0 auto;
    justify-content: space-between;
    padding: 0;

    li {
      font-size: 15px;
    }
  }
}
