code.language-text {
  background-color: transparent !important;
  color: #212121 !important;
  font-weight: 500 !important;
  font-family: inherit !important;
  text-shadow: none !important;
}

pre[class*="language-"] {
  width: 95%;
  margin: 0 20px;
}
